// Main.scss :
// Suite à vouloir étendre notre personalisation de boostrap, nous l'avons build en local
// et ce SASS nous permet d'ajouter des couleurs de components directement à bootstrap

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


// Ajoute des couleurs en plus a Bootstrap
$custom_color: (
    "ctm-red": #ee3535,
    "ctm-red-subtle": #EC7B75,
    "ctm-primary-color": #ffd29f,
    "ctm-primary-color-subtle": #FFFBF6,
    "ctm-secondary-color": #ee3535,
    "ctm-secondary-color-subtle": #EC7B75,
    "ctm-terciary-color": #292019,
    "ctm-terciary-color-subtle": #55473C
);
// Permet de fussionner la map actuelle de bootstrap à la notre afin de les
// utiliser sur PopCo.
$theme-colors: map-merge($theme-colors, $custom_color);

@import "../node_modules/bootstrap/scss/bootstrap";

// --------Modification plus classique de CSS de nos valeurs créées au dessus---------

// Change la classe custom de btn-ctm-red afin de modifier la couleur en la passant de
// noir à blanc.
.btn-ctm-red {
    @include button-variant(
        $background: map-get($theme-colors, "ctm-red"),
        $border: map-get($theme-colors, "ctm-red"),
        $color: #FFFBF6,
        $hover-color: #FFFBF6,
        $active-color: #FFFBF6
    );
}

// De même pour sa variante subtle.
.btn-ctm-red-subtle {
    @include button-variant(
        $background: map-get($theme-colors, "ctm-red-subtle"),
        $border: map-get($theme-colors, "ctm-red-subtle"),
        $color: #FFFBF6,
        $hover-color: #FFFBF6,
        $active-color: #FFFBF6
    );
}


// Change la couleur en hover, active et focus de tm-terciary-color-subtle
.list-group-item-ctm-terciary-color-subtle {
    color: #55473C;
    &.list-group-item-action:hover,
    &.list-group-item-action:focus {
        color: #a1a1a1;
    }
    &.active {
        color: #e7aa5f;
    }
}

.bg-ctm-terciary-color {
    color: #FFFBF6
}