:root {
  --primary-color: #ffd29f;
  --subtle-primary-color: #FFFBF6;
  --secondary-color: #ee3535;
  --subtle-secondary-color: #EC7B75;
  --terciary-color: #292019;
}

.primary_color_popco{background-color: var(--primary-color);}
.subtle-primary-color_popco{background-color: var(--subtle-primary-color);}
.secondary_color_popco{background: var(--secondary-color);}
.subtle-secondary-color_popco{background-color: var(--subtle-secondary-color);}
.terciary_color_popco{background: var(--terciary-color);}
.btn_secondary_color_color{--bs-btn-color: var(--secondary-color);}

.bootstrap_nav_item_color{color: var(--terciary-color);}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Sugo-Pro';
  src: url('../fonts/Sugo-Pro-Display-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5{
    font-family: 'Sugo-Pro', sans-serif;
    text-transform: uppercase;
    color: var(--subtle-primary-color) !important;
}

.card-title {
    color: var(--terciary-color) !important;
}

p{
    font-family: 'Dongle', sans-serif;
}

#img-resize img{
    height: 100px;
    width: auto;
    object-fit: fill;
}

html {
  scrollbar-width: thin;
}

#scrollbar::-webkit-scrollbar {
    border-radius: 34px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
    background: #7faaec;
    border-radius: 8px;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
    background: #fc0000;
    border-radius: 8px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 16px;
}

.navbar, footer{
    background-color: var(--primary-color);
}

.bgImage{
    position: absolute;
    background-image: url(../images/AAAHHH.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    filter: blur(10px) brightness(0.6);
    z-index: -1;
}

.callToAction{
    height: 300px;
    text-shadow: white 1px 0 10px;
    align-items: center;
}

.callToAction h5{
    vertical-align: middle;
    text-align: center;
    color: var(--subtle-primary-color);
}

.sticker{
    position: absolute;
    left: 60%;
    background-color: var(--secondary-color);
    text-shadow: none;
    color: white;
    transform: rotate(-8deg);
}

.callToAction p{
    line-height:1;
    color: var(--subtle-primary-color);
}

.mainPart{
    background-color: var(--terciary-color);
    padding-bottom: 300px;
}


.card {
    transition: 0.2s ease-out;
}

.card:hover {
    scale: 1.03;
    box-shadow: 0px 5px 4px var(--secondary-color);
}

#footer_popco {
    box-shadow: 0px -5px 10px #d4b086;
}

#header_popco {
    box-shadow: 0px 5px 10px #d4b086;
}

#formulaireVote img {
    height: 200px;
    width: 400px;
}

