
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'Sigmar';
  src: url('../assets/fonts/Sigmar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5{
    font-family: 'Sigmar', sans-serif;
    text-transform: uppercase;
    color: var(--subtle-primary-color) !important;
}

.card-title {
    color: var(--terciary-color) !important;
}

p{
    font-family: 'Dongle', sans-serif;
    font-size: 1.25em;
}

#img-resize img{
    height: 100px;
    width: auto;
    object-fit: fill;
}

html {
  scrollbar-width: thin;
}

#scrollbar::-webkit-scrollbar {
    border-radius: 34px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
    background: #55473C;
    border-radius: 8px;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
    background: #ee3535;
    border-radius: 8px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
    background: #EC7B75;
    border-radius: 16px;
}

.navbar, footer{
    background-color: var(--primary-color);
}

.bgImage{
    position: absolute;
    background-image: url(../assets/images/miku_sunset.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    filter: blur(10px) brightness(0.6);
    z-index: -2;
}

.callToAction{
    height: 300px;
    text-shadow: white 1px 0 10px;
    align-items: center;
}

.callToAction h5{
    vertical-align: middle;
    text-align: center;
    color: var(--subtle-primary-color);
}

.sticker{
    position: absolute;
    left: 60%;
    background-color: var(--secondary-color);
    text-shadow: none;
    color: white;
    transform: rotate(-8deg);
}

.callToAction p{
    line-height:1;
    color: var(--subtle-primary-color);
}

.mainPart{
    background-color: #292019;
    padding-bottom: 300px;
}


.card {
    transition: 0.2s ease-out;
}

.card:hover {
    scale: 1.03;
    box-shadow: 0px 5px 4px var(--secondary-color);
}

#footer_popco {
    box-shadow: 0px -5px 10px #d4b086;
}

#header_popco {
    box-shadow: 0px 5px 10px #d4b086;
}

#formulaireVote img {
    height: 200px;
    width: 400px;
}

#formulaireVote p{
    color:  var(--subtle-primary-color);
}

main {
  flex: 1; /* Pousse le footer vers le bas */
}

.img-resize-choose {
    height: 400px;
    width: 250px;
}

.img-create {
    width:250px ;
    height:250px;
}